@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans:wght@100;200;300;400;500&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*OCEAN THEME VARIABLES*/
}
body{
  background: var(--primary-ocean-color);
  overflow-x: hidden;
  --font-family-main: 'Fjalla One', sans-serif, 'Arial Narrow Bold', sans-serif;
  --font-family-second: 'Noto Sans', sans-serif, 'Times New Roman', sans-serif;
  --primary-ocean-color: rgb(255, 255, 255);
  --secondary-ocean-color: rgb(224, 232, 243);
  --tertiary-ocean-color: rgb(47, 56, 70);
  --highlight-ocean-color: rgb(186, 170, 211);
}

body.active {
  --primary-ocean-color: rgb(247, 247, 247);
  --secondary-ocean-color: rgb(235, 229, 224);
  --tertiary-ocean-color: rgb(41, 38, 35);
  --highlight-ocean-color: rgb(228, 186, 109);
}

a{
  text-decoration: none;
}

.homepage {
  display: flex;
  width: 100%;
}

.topbar{
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  position: fixed;
  background: var(--secondary-ocean-color);
  color: var(--tertiary-ocean-color);
  width: 100%;
  height: 4rem;
}

.topbar-heading{
  letter-spacing: 0px;
  position: relative;
  font-family: var(--font-family-second);
}
.topbar-right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8rem;
}

.sidebar {
  z-index: 20;
  height: 100vh;
  width: 6rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  visibility: hidden;
  background-color: var(--primary-ocean-color);
  color: var(--highlight-ocean-color);
}

.sidebar-icon{
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  color: var(--tertiary-ocean-color);
}
.sidebar-icon:hover{
  background-color: var(--secondary-ocean-color);
}
.homepage-containers{
  position: relative;
  width: 100%;
  padding: 14rem 2rem 4rem 2rem;
  background: var(--secondary-ocean-color);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.left-home-container{
  bottom: 2rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.left-home-container h1{
  font-size: 2.6rem;
  font-family: var(--font-family-main);
  line-height: 60px;
  padding: 0 1rem;
}
.left-home-container p{
  margin: 1rem 0 0 0;
  font-size: 1.2rem;
  max-width: 800px;
  padding: 0 1rem;
  font-family: var(--font-family-second);
  font-weight: 400;
}
.home-links{
  margin: 2rem 0 .4rem 0;
  padding: 0 2rem;
  display: flex;
  gap: 1.5rem;
}
.home-links i{
  color: black;
}
.toolbox-container{
  color: white;
  padding: 30px;
  position: relative;
  left: 0%;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: -10px 10px 15px rgba(80, 80, 80, 0.3);
  transition: .3s ease-in-out;
  background-color: var(--tertiary-ocean-color);
}
.toolbox-container:hover{
  left: 66%;
  box-shadow: -34px 34px 20px rgba(90, 90, 90, 0.4);
}
.toolbox-list{
  display: flex;
  flex-wrap: wrap;

  gap: 12px;
  list-style: none;
}
.toolbox-header{
  font-weight: 800;
  font-family: var(--font-family-main);
  font-size: 2.4rem;
  margin-bottom: 10px;
}
.toolbox-item{
  padding: 6px 8px;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-family: var(--font-family-second);
  font-weight: 600;
  background-color: var(--primary-ocean-color);
  color: var(--tertiary-ocean-color);
}

.mobile-menu{
  position: relative;
}
.mobile-list{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 6rem;
  background-color: var(--primary-ocean-color);
  top: 3rem;
  right: 2%;
  max-width: 350px;
  box-shadow: 10px 10px 20px rgba(80, 80, 80, 0.4);
}
.mobile-list ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.mobile-list ul a{
  text-decoration: none;
  color: black;
  padding: .4rem 1rem;
  font-size: 1.6rem;
  font-family: var(--font-family-main);
}

.settings-container{
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 1.4rem;
  font-family: var(--font-family-second);
  padding: 1rem;
  background-color: var(--primary-ocean-color);
  top: 4rem;
  right: 0;
  width: 100vw;
  box-shadow: 10px 10px 20px rgba(80, 80, 80, 0.4);
}
.settings-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 1rem;
  gap: 8px;
}
.settings-form label{
  font-size: 1.2rem;
}
.settings-container h4{
  font-family: var(--font-family-main);
  font-size: 2rem;
  text-align: center;
}
.fa-circle-question{
  margin-right: 8px;
  position: relative;
  right: 2px;
}
.settings-form p{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 18px;
}
.settings-form p{
  width: auto;
  text-align: center;
}
.settings-input{
  gap: .5rem;
  justify-content: space-between;
  align-items: center;
}
.settings-form input{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}
.theme-container{
  display: flex;
  margin-top: .6rem;
  align-items: start;
  gap: 1rem;
}
.theme-toggler{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1px;
  align-items: center;
  border: 1px solid black;
  border-radius: 26px;
  background-color: var(--secondary-ocean-color);
}
.fa-cloud {
  background: transparent;
  padding: 1rem .6rem;
}
.fa-mug-hot {
  background: transparent;
  padding: 1rem .6rem;
}
.active-theme{
  background: white;
  color: transparent;
  position: relative;
  border-radius: 50%;
}
.settings-container button{
  background: var(--tertiary-ocean-color);
  color: white;
  padding: .5rem;
  margin-top: 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  width: 100%;
}

.projects-container{
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 4rem;
  margin-bottom: 8rem;
}
.projects-container h1{
  font-family: var(--font-family-main);
  font-size: 3rem;
  position: relative;
  top: 2rem;
}

.project{
  width: 80%;
  max-width: 1000px;
  color: white;
  border-radius: 14px;
  border-radius: 1rem;
  background: var(--tertiary-ocean-color);
  position: relative;
  padding: 1rem;
  box-shadow: -10px 10px 15px rgba(80, 80, 80, 0.3);
}
.project-img{
  width: 100%;
  height: 230px;
  object-fit: cover;
  object-position: top;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px rgba(80, 80, 80, 0.3);
  transition:object-position 7s ease-in-out;
}
.project-img:hover{
  object-position: bottom;
}
.project-description{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  font-family: var(--font-family-main);
}
.project-title{
  text-transform: capitalize;
  font-size: 2.4rem;
  font-family: var(--font-family-main);
}
.project-stack{
  display: flex;
  gap: .6rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.project-info{
  font-size: 1.2rem;
  font-weight: 300;
  font-family: var(--font-family-second);
  margin: 1.4rem 0;
}
.stack-item {
  padding: 6px 8px;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-family: var(--font-family-second);
  font-weight: 600;
  background-color: var(--primary-ocean-color);
  color: var(--tertiary-ocean-color);
}
.project-btns{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  font-size: 1.2rem;
  font-family: var(--font-family-second);
  margin-top: 1rem;
}
.project-btns a{
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
}
.contact-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: var(--secondary-ocean-color);
}
.contact-container h1{
  font-family: var(--font-family-main);
  font-size: 4rem;
  padding-top: 2rem;
  color: var(--tertiary-ocean-color);
}
.contact-container p{
  font-family: var(--font-family-second);
  text-align: center;
  max-width: 275px;
}
.contact-container form{
  background: var(--secondary-ocean-color);
  padding: 2rem;
  display: flex;
  gap: 12px;
  flex-direction: column;
  font-size: 1.4rem;
  font-family: var(--font-family-second);
  font-weight: 500;
}
.contact-container input{
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
}
.contact-container textarea{
  width: 100%;
  padding: 10px;
  border: none;
}
.contact-container form button{
  background: var(--tertiary-ocean-color);
  padding: .8rem;
  border: none;
  color: white;

}

.footer{
  background-color: var(--tertiary-ocean-color);
  font-family: var(--font-family-main);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  color: white;
  padding: 2rem 0 ;
}
.footer-1{
  padding: 0 4rem;
  text-align: center;
  font-size: 1rem;
  font-family: var(--font-family-second);
}
.footer-links i{
  font-size: 1.2rem;
  color: white;
}
.footer-links{
  display: flex;
  justify-content: center;
  gap: 1.4rem;
  width: 40%;
}
@media screen and (min-width: 576px) {
  .topbar-heading{
    letter-spacing: 10px;
  }
  .homepage-containers{
    height: 100vh;
  }
  .footer{
    width: 100%;
  }
  .settings-container{
    right: 5%;
  }
}

@media screen and (min-width: 768px) {
  .topbar{
    position: relative;
    left: 6rem;
  }
  .sidebar{
    visibility: visible;
  }
  .home-links{
    visibility: hidden;
  }
  .mobile-menu{
    visibility: hidden;
  }
  .homepage-containers{
    position: relative;
    left: 6rem;
    width: 100vw;
    padding-top: 18rem;
    height: 100vh;
  }
  .left-home-container{
    bottom: 2rem;
  }
  .left-home-container h1{
    max-width: 730px;
    font-size: 3.5rem;
  }
  .projects-container{
    width: 100vw;
    margin-left: 6rem;
  }
  .project-info{
    font-size: 1.4rem;
  }
  .project-stack{
    gap: 1rem;
  }
  .project{
    box-shadow: -15px 15px 30px rgba(14, 14, 14, 0.4);
  }
  .stack-item{
    font-size: 1.4rem;
  }
  .toolbox-container{
    top: -3rem;
  }
  .topbar-heading{
    letter-spacing: 20px;
    left: 15%;
  }
  .topbar{
    position: absolute;
    background: transparent;
  }
  .contact-container{
    position: relative;
    left: 6rem;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 100vw;
    background: var(--secondary-ocean-color);
    gap: 2rem;
    padding-right: 6rem;
  }
  .contact-container{
    padding: 2rem 0;
  }
  .contact-container form{
    width: 50%;
    max-width: 551px;
  }  
  .contact-container p{
    text-align: start;
    margin-left: 4px;
  }
  .footer{
    position: relative;
    left: 6rem;
    justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  .settings-container{
    right: 5rem;
  }
  .left-home-container{
    right: 1%;
  }
  .topbar-heading{
    letter-spacing: 30px;
    left: 20%;
  }
  .project-img {
    height: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .homepage-containers{
    width: 80vw;
  }
  .toolbox-container{
    left: 40%;
    box-shadow: -30px 30px 10px rgba(14, 14, 14, 0.4);
  }
  .projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10rem;
  }
  .project{
    box-shadow: -20px 20px 30px rgba(14, 14, 14, 0.4);
  }
  .project-img{
    width: 102%;
    height: 400px;
    object-fit: cover;
    object-position: top;
    border-radius: 1rem;
    position: relative;
    top: -4rem;
    left: -5rem;
  }
  .project-title{
    font-size: 3rem;
  }
  .project-description{
    margin-top: -3rem;
    padding: 2rem;
  }
  .project-btns{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -2rem;
    font-size: 2rem;
    width: auto;
    justify-content: center;
  }
  .project-btns a{
    text-decoration: none;
    color: var(--tertiary-ocean-color);
    padding: 10px;
    background: white;
    border-radius: 8px;
    margin: 8px 0;
    box-shadow: -10px 10px 10px rgba(14, 14, 14, 0.4);
  }
  .project-stack{
    width: 80%;
  }
  .project-info{
    width: 80%;
  }
}
@media screen and (min-width: 1600px) {
  .homepage-containers{
    width: 70vw;
  }
  .toolbox-container{
    left: 65%;
  }
}